services:
  mysql:
    image: mysql:8.0
    container_name: eventflow-mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: eventflow123
      MYSQL_DATABASE: event_booking
      MYSQL_USER: eventflow
      MYSQL_PASSWORD: eventflow123
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./event_booking.sql:/docker-entrypoint-initdb.d/init.sql
    command: --default-authentication-plugin=mysql_native_password
    healthcheck:
      test:
        [
          "CMD",
          "mysqladmin",
          "ping",
          "-h",
          "localhost",
          "-u",
          "root",
          "-p$$MYSQL_ROOT_PASSWORD",
        ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  mysql_data:
